{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "func-names": "off",
    "consistent-return": "off",
    "no-restricted-syntax": "off",
    "prefer-arrow-callback": "off",
    "no-console": "error"
  }
}
